build/ALL_BUILD.vcxproj
build/cmake_install.cmake
build/CMakeCache.txt
build/voxel_engine.sln
build/voxel-engine.vcxproj
build/voxel-engine.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/CMakeFiles/cmake.verify_globs
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/VerifyGlobs.cmake
build/CMakeFiles/e8ec2ea8e43f3a9ae71980c1000937a6/Continuous.rule
build/CMakeFiles/e8ec2ea8e43f3a9ae71980c1000937a6/Experimental.rule
build/CMakeFiles/e8ec2ea8e43f3a9ae71980c1000937a6/format.rule
build/CMakeFiles/e8ec2ea8e43f3a9ae71980c1000937a6/Nightly.rule
build/CMakeFiles/e8ec2ea8e43f3a9ae71980c1000937a6/NightlyMemoryCheck.rule
build/CMakeFiles/e8ec2ea8e43f3a9ae71980c1000937a6/uninstall.rule
build/Release/voxel-engine.exe
build/Release/assets/blocks/dirt.yaml
build/Release/assets/blocks/grass.yaml
build/Release/assets/blocks/sand.yaml
build/Release/assets/blocks/stone.yaml
build/external/yaml-cpp/ALL_BUILD.vcxproj
build/external/yaml-cpp/ALL_BUILD.vcxproj.filters
build/external/yaml-cpp/cmake_install.cmake
build/external/yaml-cpp/cmake_uninstall.cmake
build/external/yaml-cpp/Continuous.vcxproj
build/external/yaml-cpp/Continuous.vcxproj.filters
build/external/yaml-cpp/CTestTestfile.cmake
build/external/yaml-cpp/DartConfiguration.tcl
build/external/yaml-cpp/Experimental.vcxproj
build/external/yaml-cpp/Experimental.vcxproj.filters
build/external/yaml-cpp/format.vcxproj
build/external/yaml-cpp/format.vcxproj.filters
build/external/yaml-cpp/Nightly.vcxproj
build/external/yaml-cpp/Nightly.vcxproj.filters
build/external/yaml-cpp/NightlyMemoryCheck.vcxproj
build/external/yaml-cpp/NightlyMemoryCheck.vcxproj.filters
build/external/yaml-cpp/uninstall.vcxproj
build/external/yaml-cpp/uninstall.vcxproj.filters
build/external/yaml-cpp/YAML_CPP.sln
build/external/yaml-cpp/yaml-cpp-config-version.cmake
build/external/yaml-cpp/yaml-cpp-config.cmake
build/external/yaml-cpp/yaml-cpp.pc
build/external/yaml-cpp/yaml-cpp.vcxproj
build/external/yaml-cpp/yaml-cpp.vcxproj.filters
build/external/yaml-cpp/CMakeFiles/generate.stamp
build/external/yaml-cpp/CMakeFiles/generate.stamp.depend
build/external/yaml-cpp/Release/yaml-cpp.lib
build/external/yaml-cpp/util/cmake_install.cmake
build/external/yaml-cpp/util/CTestTestfile.cmake
build/external/yaml-cpp/util/yaml-cpp-parse.vcxproj
build/external/yaml-cpp/util/yaml-cpp-parse.vcxproj.filters
build/external/yaml-cpp/util/yaml-cpp-read.vcxproj
build/external/yaml-cpp/util/yaml-cpp-read.vcxproj.filters
build/external/yaml-cpp/util/yaml-cpp-sandbox.vcxproj
build/external/yaml-cpp/util/yaml-cpp-sandbox.vcxproj.filters
build/external/yaml-cpp/util/CMakeFiles/generate.stamp
build/external/yaml-cpp/util/CMakeFiles/generate.stamp.depend
build/external/yaml-cpp/util/Release/parse.exe
build/external/yaml-cpp/util/Release/read.exe
build/external/yaml-cpp/util/Release/sandbox.exe
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/parse.exe.recipe
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/parse.obj
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/CL.command.1.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/Cl.items.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/CL.read.1.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/CL.write.1.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/CustomBuild.command.1.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/CustomBuild.read.1.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/CustomBuild.write.1.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/link.command.1.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/link.read.1.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/link.secondary.1.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/link.write.1.tlog
build/external/yaml-cpp/util/yaml-cpp-parse.dir/Release/yaml-cpp-parse.tlog/yaml-cpp-parse.lastbuildstate
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/read.exe.recipe
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/read.obj
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/CL.command.1.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/Cl.items.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/CL.read.1.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/CL.write.1.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/CustomBuild.command.1.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/CustomBuild.read.1.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/CustomBuild.write.1.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/link.command.1.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/link.read.1.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/link.secondary.1.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/link.write.1.tlog
build/external/yaml-cpp/util/yaml-cpp-read.dir/Release/yaml-cpp-read.tlog/yaml-cpp-read.lastbuildstate
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/sandbox.exe.recipe
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/sandbox.obj
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/CL.command.1.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/Cl.items.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/CL.read.1.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/CL.write.1.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/CustomBuild.command.1.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/CustomBuild.read.1.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/CustomBuild.write.1.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/link.command.1.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/link.read.1.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/link.secondary.1.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/link.write.1.tlog
build/external/yaml-cpp/util/yaml-cpp-sandbox.dir/Release/yaml-cpp-sandbox.tlog/yaml-cpp-sandbox.lastbuildstate
build/external/yaml-cpp/yaml-cpp.dir/Release/binary.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/convert.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/depthguard.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/directives.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/emit.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/emitfromevents.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/emitter.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/emitterstate.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/emitterutils.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/exceptions.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/exp.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/graphbuilder.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/graphbuilderadapter.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/memory.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/node_data.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/node.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/nodebuilder.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/nodeevents.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/null.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/ostream_wrapper.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/parse.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/parser.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/regex_yaml.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/scanner.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/scanscalar.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/scantag.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/scantoken.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/simplekey.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/singledocparser.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/stream.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/tag.obj
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp.lib.recipe
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/CL.command.1.tlog
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/Cl.items.tlog
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/CL.read.1.tlog
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/CL.write.1.tlog
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/CustomBuild.command.1.tlog
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/CustomBuild.read.1.tlog
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/CustomBuild.write.1.tlog
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/Lib-link.read.1.tlog
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/Lib-link.write.1.tlog
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/Lib.command.1.tlog
build/external/yaml-cpp/yaml-cpp.dir/Release/yaml-cpp static.tlog/yaml-cpp static.lastbuildstate
build/voxel-engine.dir/Release/block_system.obj
build/voxel-engine.dir/Release/chunk.obj
build/voxel-engine.dir/Release/main.obj
build/voxel-engine.dir/Release/world.obj
build/voxel-engine.dir/Release/voxel-engine.tlog/CL.command.1.tlog
build/voxel-engine.dir/Release/voxel-engine.tlog/Cl.items.tlog
build/voxel-engine.dir/Release/voxel-engine.tlog/CL.read.1.tlog
build/voxel-engine.dir/Release/voxel-engine.tlog/CL.write.1.tlog
build/voxel-engine.dir/Release/voxel-engine.tlog/CustomBuild.read.1.tlog
build/voxel-engine.dir/Release/voxel-engine.tlog/link.command.1.tlog
build/voxel-engine.dir/Release/voxel-engine.tlog/link.read.1.tlog
build/voxel-engine.dir/Release/voxel-engine.tlog/link.secondary.1.tlog
build/voxel-engine.dir/Release/voxel-engine.tlog/link.write.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build
shaders